* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.toolbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.toolbar>img {
    width: 100px;
}

.toolbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar nav ul li {
    margin: 0 44px;
}

.toolbar nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.burger {
    color: black;
    font-size: 18px;
}

.bg {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
    background-color: #e6ba38;
    border-radius: 50%;
}

.boy {
    position: absolute;
    width: 280px;
    bottom: 0;
    left: calc(50% - 140px);
}

.content {
    margin: 100px 100px;
    width: 200px;
}

.content>a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

header>h1 {
    position: absolute;
    color: black;
    font-size: 100px;
    z-index: 3;
    top: calc(50% - 50px);
    left: calc(50% + 150px);
}

.contacts {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.contacts>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.contacts ul li {
    margin: 0 5px;
}

.contacts ul li a {
    color: white;
    text-decoration: none;
}

.block {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303030;
}

.block:hover {
    color: #303030;
    background-color: #fff;
    border: 1px solid #303030;
}

.production {
    position: absolute;
    bottom: 5%;
    right: 5%;
}